<mat-dialog-content>
  <mat-form-field>
    <mat-label>Position</mat-label>
    <input matInput [(ngModel)]="data.position" placeholder="Position" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name" placeholder="Name" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Symbol</mat-label>
    <input matInput [(ngModel)]="data.symbol" placeholder="Symbol" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Wight</mat-label>
    <input matInput [(ngModel)]="data.weight" placeholder="Wight" />
  </mat-form-field>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-flat-button cdkFocusInitial [mat-dialog-close]="element()">
    Update
  </button>
</div>
